openapi: 3.0.1
info:
  title: CrowdStrike API Specification
  description: |-
    Use this API specification as a reference for the API endpoints you can use to interact with your Falcon environment. These endpoints support authentication via OAuth2 and interact with detections and network containment. For detailed usage guides and more information about API endpoints that don't yet support OAuth2, see our [documentation inside the Falcon console](https://falcon.us-2.crowdstrike.com/support/documentation).


      To use the APIs described below, combine the base URL with the path shown for each API endpoint. For commercial cloud customers, your base URL is `https://api.us-2.crowdstrike.com`.

      Each API endpoint requires authorization via an OAuth2 token. Your first API request should retrieve an OAuth2 token using the `oauth2/token` endpoint, such as `https://api.us-2.crowdstrike.com/oauth2/token`. For subsequent requests, include the OAuth2 token in an HTTP authorization header. Tokens expire after 30 minutes, after which you should make a new token request to continue making API requests.
  termsOfService: https://api.us-2.crowdstrike.com/terms
  version: 2022-02-02T19:42:11Z
servers:
  - url: https://api.us-2.crowdstrike.com/
paths:
  /cloud-connect-aws/combined/accounts/v1:
    get:
      tags:
        - cloud-connect-aws
      summary: Search for provisioned AWS Accounts by providing an FQL filter and
        paging details. Returns a set of AWS accounts which match the filter criteria
      operationId: QueryAWSAccounts
      parameters:
        - name: limit
          in: query
          description: The maximum records to return. [1-500]. Defaults to 100.
          schema:
            maxLength: 500
            minLength: 1
            type: integer
            default: 100
        - name: offset
          in: query
          description: The offset to start retrieving records from
          schema:
            type: integer
        - name: sort
          in: query
          description: The property to sort by (e.g. alias.desc or state.asc)
          schema:
            type: string
        - name: filter
          in: query
          description: The filter expression that should be used to limit the results
          schema:
            type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
      security:
        - oauth2:
            - cloud-connect-aws:read
  /cloud-connect-aws/combined/settings/v1:
    get:
      tags:
        - cloud-connect-aws
      summary: Retrieve a set of Global Settings which are applicable to all provisioned
        AWS accounts
      operationId: GetAWSSettings
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
      security:
        - oauth2:
            - cloud-connect-aws:read
  /cloud-connect-aws/entities/accounts/v1:
    get:
      tags:
        - cloud-connect-aws
      summary: Retrieve a set of AWS Accounts by specifying their IDs
      operationId: GetAWSAccounts
      parameters:
        - name: ids
          in: query
          description: IDs of accounts to retrieve details
          required: true
          style: form
          explode: true
          schema:
            maxItems: 5000
            type: array
            items:
              pattern: \d{12}
              type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        404:
          description: Not Found
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
      security:
        - oauth2:
            - cloud-connect-aws:read
    post:
      tags:
        - cloud-connect-aws
      summary: Provision AWS Accounts by specifying details about the accounts to
        provision
      operationId: ProvisionAWSAccounts
      parameters:
        - name: mode
          in: query
          description: Mode for provisioning. Allowed values are `manual` or `cloudformation`.
            Defaults to manual if not defined.
          schema:
            type: string
            default: manual
            enum:
              - cloudformation
              - manual
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.CreateAWSAccountsV1'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
      security:
        - oauth2:
            - cloud-connect-aws:write
      x-codegen-request-body-name: body
    delete:
      tags:
        - cloud-connect-aws
      summary: Delete a set of AWS Accounts by specifying their IDs
      operationId: DeleteAWSAccounts
      parameters:
        - name: ids
          in: query
          description: IDs of accounts to remove
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 12
              minLength: 12
              type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.BaseResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.BaseResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.BaseResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.BaseResponseV1'
      security:
        - oauth2:
            - cloud-connect-aws:write
    patch:
      tags:
        - cloud-connect-aws
      summary: Update AWS Accounts by specifying the ID of the account and details
        to update
      operationId: UpdateAWSAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.UpdateAWSAccountsV1'
        required: true
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        404:
          description: Not Found
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.AWSAccountsV1'
      security:
        - oauth2:
            - cloud-connect-aws:write
      x-codegen-request-body-name: body
  /cloud-connect-aws/entities/settings/v1:
    post:
      tags:
        - cloud-connect-aws
      summary: Create or update Global Settings which are applicable to all provisioned
        AWS accounts
      operationId: CreateOrUpdateAWSSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.ModifyAWSCustomerSettingsV1'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.CustomerConfigurationsV1'
      security:
        - oauth2:
            - cloud-connect-aws:write
      x-codegen-request-body-name: body
  /cloud-connect-aws/entities/verify-account-access/v1:
    post:
      tags:
        - cloud-connect-aws
      summary: Performs an Access Verification check on the specified AWS Account
        IDs
      operationId: VerifyAWSAccountAccess
      parameters:
        - name: ids
          in: query
          description: IDs of accounts to verify access on
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 12
              minLength: 12
              type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.VerifyAccessResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.VerifyAccessResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.VerifyAccessResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.VerifyAccessResponseV1'
      security:
        - oauth2:
            - cloud-connect-aws:write
  /cloud-connect-aws/queries/accounts/v1:
    get:
      tags:
        - cloud-connect-aws
      summary: Search for provisioned AWS Accounts by providing an FQL filter and
        paging details. Returns a set of AWS account IDs which match the filter criteria
      operationId: QueryAWSAccountsForIDs
      parameters:
        - name: limit
          in: query
          description: The maximum records to return. [1-500]. Defaults to 100.
          schema:
            maxLength: 500
            minLength: 1
            type: integer
            default: 100
        - name: offset
          in: query
          description: The offset to start retrieving records from
          schema:
            type: integer
        - name: sort
          in: query
          description: The property to sort by (e.g. alias.desc or state.asc)
          schema:
            type: string
        - name: filter
          in: query
          description: The filter expression that should be used to limit the results
          schema:
            type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.QueryResponse'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.QueryResponse'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.QueryResponse'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.QueryResponse'
      security:
        - oauth2:
            - cloud-connect-aws:read
  /cloud-connect-azure/entities/account/v1:
    get:
      tags:
        - d4c-registration
      summary: Return information about Azure account registration
      operationId: GetCSPMAzureAccount
      parameters:
        - name: ids
          in: query
          description: SubscriptionIDs of accounts to select for this status operation.
            If this is empty then all accounts are returned.
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 36
              minLength: 36
              pattern: ^[0-9a-z-]{36}$
              type: string
        - name: scan-type
          in: query
          description: Type of scan, dry or full, to perform on selected accounts
          schema:
            maxLength: 4
            minLength: 3
            pattern: ^(full|dry)$
            type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
      security:
        - oauth2:
            - d4c-registration:read
    post:
      tags:
        - d4c-registration
      summary: Creates a new account in our system for a customer and generates a
        script for them to run in their cloud environment to grant us access.
      operationId: CreateCSPMAzureAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration.AzureAccountCreateRequestExternalV1'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
      security:
        - oauth2:
            - d4c-registration:write
      x-codegen-request-body-name: body
  /cloud-connect-azure/entities/client-id/v1:
    patch:
      tags:
        - d4c-registration
      summary: Update an Azure service account in our system by with the user-created
        client_id created with the public key we've provided
      operationId: UpdateCSPMAzureAccountClientID
      parameters:
        - name: id
          in: query
          description: ClientID to use for the Service Principal associated with the
            customer's Azure account
          required: true
          schema:
            maxLength: 36
            minLength: 36
            pattern: ^[0-9a-z-]{36}$
            type: string
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureServicePrincipalResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureServicePrincipalResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureServicePrincipalResponseV1'
      security:
        - oauth2:
            - d4c-registration:write
  /cloud-connect-azure/entities/user-scripts-download/v1:
    get:
      tags:
        - d4c-registration
      summary: Return a script for customer to run in their cloud environment to grant
        us access to their Azure environment as a downloadable attachment
      operationId: GetCSPMAzureUserScriptsAttachment
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
      security:
        - oauth2:
            - d4c-registration:read
  /cloud-connect-azure/entities/user-scripts/v1:
    get:
      tags:
        - d4c-registration
      summary: Return a script for customer to run in their cloud environment to grant
        us access to their Azure environment
      operationId: GetCSPMAzureUserScripts
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureProvisionGetUserScriptResponseV1'
      security:
        - oauth2:
            - d4c-registration:read
  /cloud-connect-cspm-aws/entities/account/v1:
    get:
      tags:
        - cspm-registration
      summary: Returns information about the current status of an AWS account.
      operationId: GetCSPMAwsAccount
      parameters:
        - name: scan-type
          in: query
          description: Type of scan, dry or full, to perform on selected accounts
          schema:
            maxLength: 4
            minLength: 3
            pattern: ^(full|dry)$
            type: string
        - name: ids
          in: query
          description: AWS account IDs
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: \d{12}
              type: string
        - name: organization-ids
          in: query
          description: AWS organization IDs
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: ^o-[0-9a-z]{10,32}$
              type: string
        - name: status
          in: query
          description: Account status to filter results by.
          schema:
            pattern: ^(provisioned|operational)$
            type: string
        - name: limit
          in: query
          description: The maximum records to return. Defaults to 100.
          schema:
            maxLength: 3
            minLength: 1
            type: integer
            default: 100
        - name: offset
          in: query
          description: The offset to start retrieving records from
          schema:
            type: integer
        - name: group_by
          in: query
          description: Field to group by.
          schema:
            type: string
            enum:
              - organization
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
      security:
        - oauth2:
            - cspm-registration:read
    post:
      tags:
        - cspm-registration
      summary: Creates a new account in our system for a customer and generates a
        script for them to run in their AWS cloud environment to grant us access.
      operationId: CreateCSPMAwsAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration.AWSAccountCreateRequestExtV2'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
      security:
        - oauth2:
            - cspm-registration:write
      x-codegen-request-body-name: body
    delete:
      tags:
        - cspm-registration
      summary: Deletes an existing AWS account or organization in our system.
      operationId: DeleteCSPMAwsAccount
      parameters:
        - name: ids
          in: query
          description: AWS account IDs to remove
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 12
              minLength: 12
              type: string
        - name: organization-ids
          in: query
          description: AWS organization IDs to remove
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: ^o-[0-9a-z]{10,32}$
              type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
      security:
        - oauth2:
            - cspm-registration:write
    patch:
      tags:
        - cspm-registration
      summary: Patches a existing account in our system for a customer.
      operationId: PatchCSPMAwsAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration.AWSAccountPatchRequest'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-CS-TRACEID:
              description: 'Trace-ID: submit to support if resolving an issue'
              schema:
                type: string
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountResponseV2'
      security:
        - oauth2:
            - cspm-registration:write
      x-codegen-request-body-name: body
  /cloud-connect-cspm-aws/entities/console-setup-urls/v1:
    get:
      tags:
        - cspm-registration
      summary: Return a URL for customer to visit in their cloud environment to grant
        us access to their AWS environment.
      operationId: GetCSPMAwsConsoleSetupURLs
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountConsoleURL'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountConsoleURL'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountConsoleURL'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountConsoleURL'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSAccountConsoleURL'
      security:
        - oauth2:
            - cspm-registration:read
  /cloud-connect-cspm-aws/entities/user-scripts-download/v1:
    get:
      tags:
        - cspm-registration
      summary: Return a script for customer to run in their cloud environment to grant
        us access to their AWS environment as a downloadable attachment.
      operationId: GetCSPMAwsAccountScriptsAttachment
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/registration.AWSProvisionGetAccountScriptResponseV2'
      security:
        - oauth2:
            - cspm-registration:read
  /cloud-connect-cspm-azure/entities/account/v1:
    get:
      tags:
        - cspm-registration
      summary: Return information about Azure account registration
      operationId: GetCSPMAzureAccount
      parameters:
        - name: ids
          in: query
          description: SubscriptionIDs of accounts to select for this status operation.
            If this is empty then all accounts are returned.
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 36
              minLength: 36
              pattern: ^[0-9a-z-]{36}$
              type: string
        - name: scan-type
          in: query
          description: Type of scan, dry or full, to perform on selected accounts
          schema:
            maxLength: 4
            minLength: 3
            pattern: ^(full|dry)$
            type: string
        - name: status
          in: query
          description: Account status to filter results by.
          schema:
            pattern: ^(provisioned|operational)$
            type: string
        - name: limit
          in: query
          description: The maximum records to return. Defaults to 100.
          schema:
            maxLength: 3
            minLength: 1
            type: integer
            default: 100
        - name: offset
          in: query
          description: The offset to start retrieving records from
          schema:
            type: integer
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
      security:
        - oauth2:
            - cspm-registration:read
    post:
      tags:
        - cspm-registration
      summary: Creates a new account in our system for a customer and generates a
        script for them to run in their cloud environment to grant us access.
      operationId: CreateCSPMAzureAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration.AzureAccountCreateRequestExternalV1'
        required: true
      responses:
        201:
          description: Created
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
      security:
        - oauth2:
            - cspm-registration:write
      x-codegen-request-body-name: body
    delete:
      tags:
        - cspm-registration
      summary: Deletes an Azure subscription from the system.
      operationId: DeleteCSPMAzureAccount
      parameters:
        - name: ids
          in: query
          description: Azure subscription IDs to remove
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              maxLength: 36
              minLength: 36
              pattern: ^[0-9a-z-]{36}$
              type: string
      responses:
        200:
          description: OK
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        207:
          description: Multi-Status
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        400:
          description: Bad Request
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
        403:
          description: Forbidden
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        429:
          description: Too Many Requests
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-RetryAfter:
              description: Too many requests, retry after this time (as milliseconds
                since epoch)
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/msa.ReplyMetaOnly'
        500:
          description: Internal Server Error
          headers:
            X-RateLimit-Remaining:
              description: The number of requests remaining for the sliding one minute
                window.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Request limit per minute.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.AzureAccountResponseV1'
        default:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration.BaseResponseV1'
      security:
        - oauth2:
[...]
